@model QulixSystemsTestProject.Models.Worker

@{
    ViewBag.Title = "Добавление Работника";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string [] positions=new string[] {"Разрабочик","Тестировщик","Бизнес-Аналитик","Менеджер"};
    SelectList Pos = new SelectList(positions);
}

<h2>Добавление нового работника</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Работник</legend>

        <p>
            Фамилия <br />
            @Html.EditorFor(model => model.SurName)
            @Html.ValidationMessageFor(model => model.SurName)
        </p>
       
         <p>
             Имя <br />
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </p>
        
        <p>
            Отчество <br />
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </p>

        <p>
            Дата<br/>
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </p>
        
        <p>
            Должность <br/>
          @Html.DropDownListFor(model=>model.Position,Pos)
            
           
        </p>
        <p>
            Компания<br/>
            @Html.DropDownListFor(model => model.CompanyID, ViewBag.Companies as SelectList)
          
        </p>

        <p>
            <input type="submit" value="Добавить работника" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Назад", "List", "Worker")
</div>

